<ion-view view-title="Uniplaces">
  <ion-content>
    <div class="list">
      <ion-item ng-repeat="home in homes" href="/#/app/sections/{{home.id}}">
        {{home.name || home.id}}
      </ion-item>

	    <div ng-if="homes.length == 0">
	    	<center>
		    	<h4>There are no homes yet, please create one.</h4>
	    	</center>
	    </div>
    </div>
  </ion-content>
	<ion-footer-bar align-title="center" class="bar-dark">
		<div class="buttons">
			<button class="button button-dark" ng-click="create()">
				<i class="ion-document"></i>
				Create
			</button>

			<button class="button button-dark" ng-click="sync()">
			    <i class="icon ion-upload"></i>
				Synch
			</button>
		</div>
	</ion-footer-bar>
</ion-view>
