<ion-view view-title="Uniplaces">
  <ion-content>
    <div class="list">

		<div class="list-inset">
		  <label class="item item-input">
		    <i class="icon ion-search placeholder-icon"></i>
		    <input type="text" placeholder="Search" ng-model="query">
		  </label>
		</div>

      <ion-item ng-repeat="home in homes | filter:query" href="/#/app/sections/{{home.id}}">
        {{home.name || home.id}}
      </ion-item>

	    <div ng-if="homes.length == 0">
	    	<center>
		    	<h4>There are no homes yet, please create one.</h4>
	    	</center>
	    </div>
    </div>
  </ion-content>
	<ion-footer-bar align-title="center" class="bar bar-footer">
		<div class="buttons" style="width: inherit">
			<button class="button button-block button-balanced" ng-click="sync()">
			    <i class="icon ion-upload"></i>
				Sync
			</button>

			<button class="button button-block button-positive" ng-click="create()">
				<i class="ion-document"></i>
				Create
			</button>
		</div>
	</ion-footer-bar>
</ion-view>
