<ion-view view-title="Uniplaces">
  <ion-content>
    <ion-modal-view>
    <ion-content>
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Username</span>
            <input type="text" ng-model="loginData.username">
          </label>
          <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password" ng-model="loginData.password">
          </label>
          <label class="item">
            <button ng-disabled="!loginData.username"
               ng-click="doLogin()"
               class="button button-block button-balanced" type="button">
              <i class="ion-locked" ng-show="!loginData.username"></i>
              <i class="ion-unlocked" ng-show="loginData.username"></i>
              Log in
            </button>
          </label>
        </div>
    </ion-content>
    </ion-modal-view>

  <style type="text/css">
  .pane {
        background: url(img/uniplaces_background1.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }
    </style>

  </ion-content>
</ion-view>