<ion-view view-title="{{section.name}}">
  <ion-content>
    <div class="list">
	    <div ng-repeat="entry in section.entries" class="entry">
		    <div ng-if="entry && entry.name && entry.type" ng-switch on="entry.type">
		    	<div ng-switch-when="text">
		    		<label class="item item-input">
					  <span class="input-label">{{entry.name}}</span>
					  <input type="text" ng-model="entry.value">
					</label>
		    	</div>

				<div ng-switch-when="options">
					<label class="item item-input item-select">
					    <div class="input-label">{{entry.name}}</div>
					    <select ng-model="entry.value">
					    	<option ng-repeat="option in entry.options">{{option}}</option>
					    </select>
				    </label>
		    	</div>

				<div ng-switch-when="boolean">
					<ion-toggle ng-model="entry.value" toggle-class="toggle-calm">{{entry.name}}</ion-toggle>
			    </div>

				<div ng-switch-when="number">
					<label class="item item-input">
					  <span class="input-label">{{entry.name}}</span>
					  <input type="number" ng-model="entry.value">
					</label>
				</div>
		    </div>
	    </div>	
    </div>

  </ion-content>

<div class="bar bar-footer">
	<button class="button button-full button-balanced" 
		ng-click="saveChanges(section)" type="button">Save</button>
</div>
</ion-view>
